@import '../scss-variables.scss';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: $primary-bg;
    z-index: 601;
    
    .logo {
        margin-left: 100px;
    }
    
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-item {
            margin-right: 60px; 
            
            a {
                color: $white;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .nav-item:last-of-type {
            line-height: 40px;
            padding: 0 20px;
            border-radius: 35px;
            background-color: $tangle-blue;
        }

        .lang-item {
            a {
                padding: 0 6px;
            }
        }

        .lang {
            transition: .2s ease-in-out;
        }

        .lang:hover {
            color: $tangle-blue;
            cursor: pointer;
        }

        .lang:first-of-type {
            border-right: 3px solid $white;
        }

        .active-lang {
            color: $tangle-blue !important;
        }
    }

    .menu-toggle {
        display: none;
    
        .menu-icon {
            width: 30px;
            height: 30px;
      }
    }
}
  
@media only screen and (max-width: 720px) { 
    /* MOBILE NAVIGATION */
       
    .navbar {
        .logo {
            margin-left: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .menu-toggle {
            display: inline-block;
            position: absolute;
            right: 12px;
            cursor: pointer;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: flex-start;
            background-color: $primary-bg;
            top: 70px;
            width: 100%;
            height: 0;
            transition: 0.3s ease-in-out;
            text-align: center;
            overflow: hidden;
            z-index: 100;
          
            .nav-item {
                padding: 15px;
                margin: 0;
                
                a {
                  font-size: 25px;
                }
            }
    
            .nav-item:last-of-type {
                margin-top: 20px;
                border-radius: 0;
                border-top: 1px solid $white;
                background-color: $primary-bg;
            }
        }
 
        .mobile-nav {
            height: calc(100vh - 70px);
            z-index: 100;
            
            .lang-item {
                padding: 5px;
            }

            .lang-item:last-of-type {
                margin-right: 0;
            }

        }
    }

    .sticky-bar {
        position: sticky;
    }
}