
//colors
$white: #fff;
$black: #000;
$primary-bg: #030919;
$tangle-blue: #0089CF;
$placeholder: #717171;
$carousel-dot: #707070;
$input-bg: #EEEEEE;
$light-gray: #7C7C7C;
$disabled: #BDBDBD;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//header sizes
$header-sm: 25px;
$header-md: 30px;
$header-lg: 40px;
$header-xl: 50px;

//paragraph sizes
$paragraph-size: 16px;

//mixins
@mixin header($size) {
    font-size: $size;
    font-family: Lexend Deca, sans-serif;
    text-align: center;
    margin: 20px 0;
    color: $white;
}

@mixin paragraph($size) {
    font-size: $size;
    font-family: Helvetica, sans-serif;
    color: $white;
}

@mixin dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

@mixin card-carousel {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin screen-min($min) { 
    @media (min-width: $min) { 
        @content 
    } 
};

@mixin text-break($min, $max) {
    display: inline;
    @media (min-width: $min) and (max-width: $max) { 
        display: none;
    }
}


@font-face {
    font-family: 'Lexend Deca';
    src: url('./resources/fonts/LexendDeca-Regular.ttf');
  }
  
@font-face {
    font-family: 'Nasalization';
    src: url('./resources/fonts/nasalization-rg.otf');
}